# Archivos compilados de Python
__pycache__/
*.py[cod]
*.so

# Entornos virtuales
venv/
env/

# Archivos de configuración local
*.sqlite3
*.log
*.pot

# Archivos de IDEs
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
