{% extends 'layout.html' %}
{% block title %}Gestion de Solicitudes{% endblock %}

{% block content %}
<div id="requests-view" class="view-container">
    <div class="page-title">
        <h1>Gestiona tus solicitudes</h1>
        <button class="btn btn-primary" id="new-request-btn">
        <i class="fas fa-plus"></i> Nueva Solicitud
        </button>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-title">Todas las Solicitudes</div>
        <div class="search-bar">
          <i class="fas fa-search"></i>
          <input
            type="text"
            placeholder="Buscar solicitud..."
            id="request-search"
          />
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Curso Solicitado</th>
            <th>Solicitante</th>
            <th>Fecha</th>
            <th>Programa</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="all-requests-table-body">
          <!-- Content will be populated by JavaScript -->
        </tbody>
      </table>
    </div>
</div>

<div id="request-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Nueva Solicitud de Curso</h2>
      <span class="close">&times;</span>
    </div>
{{ form.modalidad_oferta  }}
        {{ form.tipo_oferta }}
    <div class="modal-body">
       <form  class= "form" method="POST" action="{% url 'ofertas:index' %}">
        {% csrf_token %}



        <label for="duracion-select">Duración (Horas):</label>
        <select id="duracion-select" class="form__input">
            <option value="">Seleccione duración</option>
        </select>

        <div id="programa-suggestions" class="suggestions"></div>

      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" id="cancel-request">Cancelar</button>
      <button class="btn btn-success" id="submit-request">
        Enviar Solicitud
      </button>
    </div>
  </div>
</div>
{% endblock %}