{% extends 'layout.html' %}

{% block content %}
<div class="form-container">
    <h1>Nuevo Instructor</h1>
<form method="post">
    {% csrf_token %}

    <label for="id_username">Usuario:</label>
    {{ form.username }}

    <label for="id_first_name">Nombres:</label>
    {{ form.first_name }}

    <label for="id_last_name">Apellidos:</label>
    {{ form.last_name }}

    <label for="id_email">Correo:</label>
    {{ form.email }}

    <label for="id_telefono">Teléfono:</label>
    {{ form.telefono }}

    <label for="id_numero_identificacion">Número de Identificación:</label>
    {{ form.numero_identificacion }}

    <label for="id_grupo">Grupo:</label>
    {{ form.grupo }}

    <label for="id_area">Área:</label>
    {{ form.area }}

    <label for="id_is_active">Activo:</label>
    {{ form.is_active }}

    <button type="submit" class="btn-guardar">Guardar</button>
    <a href="{% url 'usuarios:instructores' %}" class="btn-cancelar">Cancelar</a>
</form>

</div>
{% endblock %}
