{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Recuperar contraseña</title>
  <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
  {% comment %} <link rel="stylesheet" href="{% static 'css/variables.css' %}"/> {% endcomment %}
</head>
<body class="body">
  <header class="topbar">
    <p class="topbar__text">¿No tienes cuenta? <a href="{% url 'usuarios:register' %}" class="topbar__link">Regístrate</a></p>
  </header>

  <main class="login">
    <div class="login__card">
      <h2 class="login__title">Recuperar contraseña</h2>
      <form method="post" class="login__form">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        <button type="submit" class="login__button">Enviar enlace</button>
      </form>
    </div>
  </main>
</body>
</html>
